.App {
  background-color: rgb(194, 196, 201);
  border-radius: 12px;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 5px 10px #535353;
  /* box-shadow: 10px 10px 8px #888888; */
}

.Header {
  font-size: 20px;
  font-family: sans-serif;
  font-style: italic;
}

input {
  font-size: 18px;
  border: 2px solid rgb(105, 12, 12);
  border-radius: 4px;
  width: 80%;
}

ul {
  background: #7c7c7c;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 10px 10px 8px #727169;
}

ul li {
  font-size: 20px;
  list-style-type: none;
  background: #dde2ec;
  margin: 5px;
  padding: 5px;
}

.todo {
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
  color: rgb(7, 7, 80);
}

button {
  transition-duration: 0.4s;
  border-radius: 4px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
}

button:hover {
  color: white;
  background-color: rgb(105, 49, 2);
  border-radius: 2px;
}

.complete-btn {
  background-color: rgb(172, 235, 178);
}

.complete-btn:hover {
  background-color: green;
}

.delete-btn {
  background-color: rgb(236, 166, 164);
}

.delete-btn:hover {
  background-color: rgb(121, 4, 4);
}
